div #logo a{
    text-indent: -900px;
    width: 300px;
}

div .caixa{
    background: url(img/logo.png)no-repeat;
    height: 100px;
    width: 300px;
    margin-top: 15px;
}

footer #redes a{
    color: black;
    margin: 0px 4px;
}

footer #linksRodape a{
    text-decoration: none;
    margin: 10px 15px;
    padding-top:10px;
}

#nav-base .navegacao a:hover{
    text-decoration:underline ;
}